@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Gelen Mesaj Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfa üzerinden kullanıcıların iletişim kısmı aracılığıyla gönderdikleri mesajların listesinin bulunduğu sayfadır. İlgili satıra tıklayıp mesajın detayını görebilirsiniz.
                        </p>

                        <table id="basic-datatable" class="table dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Gönderen</th>
                                    <th>Konu</th>
                                    <th>EMail</th>
                                    <th>Tarih</th>
                                    <th>Mesaj</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Email</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td>@item.Message</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

