@model List<ResultCommentDto>
<h3 class="mb-5">@Model.Count() Yorum</h3>
<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <div class="row"></div>
                <h3>@item.Name</h3>
                <p class="mt-0">@item.Email</p>
               
                <p>@item.CommentContent</p>
                <small>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy")) </small>
            </div>
        </li>
    }
</ul>