@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Listesi ve İşlemleri</h4>
                <p class="card-subtitle mb-4">
                    Bloglarla ilgili silme, güncelleme ve blog listesi erişimini görebilirsiniz. Yeni blog ekleme işlemi admin tarafından yapılmamaktadır. Eğer blog ekleme işlemi yapmak isterseniz sisteme yazar olarak giriş yapmanız gerekmektedir. Her yazar sadece kendi bloglarını düzenleyebilir. Bunun için uygulamada Login/WriterLogin sayfası üzerinden giriş yapabilirsiniz.
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Yazar</th>
                                <th>Kategori</th>
                                <th>Tarih</th>
                                <th>Kaldır</th>
                                <th>Blogu Aç</th>
                                <th>Yorumlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.title</td>
                                    <td>@item.authorName</td>
                                    <td>@item.categorynName</td>
                                    <td>@(((DateTime)item.createdDate).ToString("D"))</td>
                                    <td><button onclick="DeleteBlog(@item.blogId)" class="btn btn-outline-danger">Yayından Kaldır</button></td>
                                    <td><a href="/Blog/BlogDetail/@item.blogId" class="btn btn-outline-dark">Blogu Aç</a></td>
                                    <td><a href="/Admin/Comment/Index/@item.blogId" class="btn btn-outline-warning">Yorumlar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function DeleteBlog(id) {
        Swal.fire({
            title: "Kayıt Silme Onayı",
            html: "Blog Kaydını Silmek İstediğinizden Emninmisiniz?<br><br><small><b>Bu işlem geri alınamaz</b></small>",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sil",
            cancelButtonText: "Vazgeç"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Blog/RemoveBlog/" + id;
            }
        });

    }
</script>




